#_info {
    position: absolute;

    width: 75%;
    height: 65%;

    margin-left: 14%;
    margin-top: -76%;

    border-radius: 6px;
    background-color: #505050;

    border-bottom: 8px solid rgba(0, 0, 0, 0.35);
}

#name,#id {
    width: 95%;

    margin-left: 2%;

    border-radius: 4px;
    border: 2px solid white;
    background-color: #7f80b5;
    
    font-size: 2rem;
    font-family: "Inter",arial;
    text-indent: 9px;

    color: black;
}

#name {
    margin-top: 10px;
    margin-bottom: 1.5rem;
}

#value-name,#value-id {
    color: white;
}

#value-id {
    font-size: 14.4px;
}

#copy {
    background-color: transparent;
    border: none;

    padding-right: 60%;

    color: #14FF00;

    font-size: 25px
}